.favorite__list {
    padding: 0 10px;
} 
.favorite__item{
    display: flex;
}

.favorite__img{
    width: auto;
    height: 100%;
}
.favorite__content{
    width: 100%;
    position: relative;
}
.favorite__name {
    margin-top: 25px;
    padding: 0 20px;

    &_romaji{
        font-weight: 700;
    }
    &_native{
        font-weight: 400;
    }
}

.favorite__btn_close{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;

    transform: scale(2);
}

@media screen and (min-width: 768px) {
    .favorite__list {
        padding: 0;
    }
  }
  @media screen and (min-width: 1024px) {
  }
  @media screen and (min-width: 1440px) {
  }

